body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 100px;
  font-size: 42px;
  color: #22d3ee;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #020617;
  margin: 20px;
  padding: 20px;
  width: 280px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(34,211,238,.3);
  transition: transform .3s;
}

.card:hover {
  transform: translateY(-10px);
}

a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #22d3ee;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
}#particles-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.flying-bonus {
  position: fixed;
  bottom: 0;
  font-size: 16px;
  color: #facc15;
  animation: flyUp 2s linear forwards;
  pointer-events: none;
}

@keyframes flyUp {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-150px); opacity: 0; }
}
.card img {
  width: 48px;
  height: 48px;
  margin-bottom: 12px;
}
@media (max-width: 600px) {
  h1 {
    font-size: 30px;
    margin-top: 50px;
  }

  .card {
    width: 90%;
  }
}

